* {
    font-family: Arial, Helvetica, sans-serif;
}

.form-body{
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    font-weight: bold;
}

.form{
    padding: 15px;
    width: 650px;
    display: flex;
    justify-content: center ;
    background-color: rgb(167, 167, 167);
    border-radius: 6px;
}

.input {
    margin: 10px;
}


.submit-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}